.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  z-index: 10;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 100ms ease;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));
  }
}

.userActive {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));
}
